.crossout {
	text-decoration: line-through;
}

#food-name-col {
	min-width: 100px;
	text-align: center;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid black;
}

tr td
{
    background-color: #fff;
}

td:nth-child(1)
{
    background-color: #999;
}

td:nth-child(2){
    background-color: #aaa;
}


td:nth-child(3){
    background-color: #bbb;
}

td:nth-child(4){
    background-color: #ccc;
}

td:nth-child(5){
    background-color: #ddd;
}

td:nth-child(6){
    background-color: #eee;
}


th:nth-child(6)
{
    background-color: #aaa;
}

th:nth-child(5){
    background-color: #bbb;
}


th:nth-child(4){
    background-color: #ccc;
}

th:nth-child(3){
    background-color: #ddd;
}

th:nth-child(2){
    background-color: #eee;
}

th:nth-child(1){
    background-color: #fff;
}

tr:last-child > td {
	text-align: right;
	background-color: #000;
	color: white;
}


#amount-input {
	width: 187px;
}

#price-input {
	width: 176px;
}

#name-input {
	width: 173px;
}

#unit-input {
	width: 183px;
}

button {
	background-color:#44c767;
	-moz-border-radius: 50%
	-webkit-border-radius: 50%;
	border-radius:30px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 15px;
	width: 50px;
	height: 50px; 
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

button:active {
	position:relative;
	top:1px;
}